#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
}

#chart-hold {
    height: 300pt;
    width: 300pt;
    max-height: 300pt;
    max-width: 300pt;
    position: absolute;
    right: 8pt;
    top: 8pt;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1001;
}

#menu-hold{
    width: 150pt;
    max-width: 150pt;
    position: absolute;
    top: 8pt;
    left: 38pt;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1001;
    padding: 4pt;
}

#mapid {
    position: relative;
    z-index: 1000;
    height: 100%;
}

.inputs{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: 24pt;
    margin-bottom: 8pt;
}